<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Language" content="zh-CN"/>
  <title>深圳大学校园网</title>
  <link href="/styles/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="/assets/views/index.css" type="text/css" rel="stylesheet" />
  <base target="_blank">
  <script src="/scripts/jquery.min.js" type="text/javascript"></script>
  <script src="/scripts/public.js" type="text/javascript"></script>
  <script type="text/javascript" src="/scripts/bootstrap/bootstrap-tabs.js"></script>
  <script type="text/javascript" src="/lib/views/index.js"></script>
</head>
<body>
  <div id="top">
    <h1 class="lefttext">深圳大学校园网</h1>
    <a href="http://www.szu.edu.cn/szu.asp" class="btn success">校园网主页</a>
    <a href="http://www.szu.edu.cn/board/read.asp" class="btn success">公文通</a>
  </div>

  <ul id="tabs" class="tabs" data-tabs="tabs">
    <li class="active"><a href="#academic">教学</a></li>
    <li><a href="#leisure">文化</a></li>
    <li><a href="#administration">行政</a></li>
    <li><a href="#service">服务</a></li>
    <li><a href="#library">知识资源</a></li>
    <li><a href="#option">设置</a></li>
  </ul>
  
  <div id="tabs-content" class="tabs-content">
    <div class="active" id="academic">
      <a href="http://192.168.2.20/" class="btn large">教务部</a>
      <a href="http://webcc.szu.edu.cn/" class="primary btn large">网上课程 WebCC</a>
      <a href="http://192.168.240.168/xuanke/edu_login.asp" class="btn large">选课系统</a>
      <a href="http://192.168.2.229/newkc/content.asp" class="btn large">已开设课程信息</a>
      <a href="http://etd.lib.szu.edu.cn/" class="btn large">学位论文</a>
      <a href="http://vod.szu.edu.cn/newvod/vodlist/teaching.asp" class="btn large">公共课件</a>
    </div>
    <div id="leisure">
      <a href="http://www.szu.edu.cn/leisure" class="primary btn large">网络电视</a>
      <a href="http://vod.szu.edu.cn/newvod/" class="btn large">影片展播</a>
      <a href="http://vod.szu.edu.cn/newvod/" class="btn large">视频 VOD 点播</a>
      <a href="http://stu.szu.edu.cn/" class="btn large">学子天地</a>
      <a href="http://yigong.szu.edu.cn/" class="btn large">义工联</a>
      <a href="http://bbs.szu.edu.cn/" class="btn large">荔园晨风 BBS</a>
    </div>
    <div id="administration">
      <a href="http://www.szu.edu.cn/mailbox/division.asp" class="btn large">部门信箱</a>
      <a href="http://www.szu.edu.cn/mailbox/leader.asp" class="primary btn large">校长信箱</a>
      <a href="http://www.szu.edu.cn/mailbox/department.asp" class="btn large">院系信箱</a>
      <a href="http://szuqz.szu.edu.cn/" class="btn large">勤工助学</a>
      <a href="http://student.szu.edu.cn/swzx/" class="btn large">学生事务</a>
      <a href="http://job.szu.edu.cn/" class="btn large">就业指导</a>
    </div>
    <div id="service">
      <a href="http://ecard.szu.edu.cn/card/" class="btn large">校园卡</a>
      <a href="http://www.szu.edu.cn/nc" class="btn large">网络中心</a>
      <a href="https://exmail.qq.com/domain/email.szu.edu.cn" class="primary btn large">校园邮箱</a>
      <a href="http://www.szu.edu.cn/service/lostfound" class="primary btn large">寻物&amp;招领</a>
      <a href="http://www.cpm.gd.cn/cpmnews/sd_add_ts.asp" class="btn large">中航物业</a>
      <a href="http://gyzx.szu.edu.cn/" class="btn large">公寓管理中心</a>
    </div>
    <div id="library">
      <a href="http://www.lib.szu.edu.cn/" class="primary btn large">校图书馆</a>
      <a href="http://www.oalib.com/" class="primary btn large">开放存取图书馆</a>
      <a href="http://websc.szu.edu.cn/wcc/more.asp?categoryid=15" class="btn large">采购的课件</a>
      <a href="http://websc.szu.edu.cn/wcc/more.asp?categoryid=14" class="btn large">自主研发的课件</a>
      <a href="http://www.duxiu.com/" class="btn large">读秀</a>
      <a href="http://founder.lib.szu.edu.cn/Usp/" class="btn large">方正电子图书</a>
    </div>
    <div id="option">
      <div class="well">
        <div class="alert-message success" data-alert="data-alert" id="saveSuccessMsg">
          <a class="close" href="#">×</a>
          <p>您的查询密码散列值已保存</p>
        </div>
        <div class="alert-message error" data-alert="data-alert" id="invalidMsg">
          <a class="close" href="#">×</a>
          <p>请输入有效的散列值（从这里<em><a href="http://tonyseek.com/project/szu-web-assistant/authhash">查询</a></em>得到）</p>
        </div>
        <div class="alert-message info">
          <p>
            绑定<strong title="您不需要知道这是什么，只要查询、复制、粘贴三步即可"><a href="http://tonyseek.com/project/szu-web-assistant/authhash">查询密码散列值</a></strong>后，登录 WebCC、校长信箱等系统时会自动填充查询密码，以替代 IE 下的密码控件。
          </p>
        </div>
        <p class="input">
          <input id="hashpwd" name="hashpwd" size="16" type="password" placeholder="请在此处输入查询密码散列值">
        </p>
        <p class="input">
          <input id="hashpwdConfirm" type="button" value="确定" class="primary btn">
          <a href="http://tonyseek.com/project/szu-web-assistant/authhash" class="btn">查询我的密码散列值</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
